*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #db0a5b;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
}
.menu-area ul{
	list-style: none;
	display: flex;
}
.menu-area li{
	flex: 3;
}
.menu-area .icon-area{
	flex: 1;
}
.menu-area a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	text-align: center;
	transition: 0.6s;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: #262626;
	padding: 20px 5px;
	font-family: sans-serif;
}
.menu-area a:hover{
	background: #aa32ff;
}


@media all and (max-width: 1000px){
	.menu-area ul{
		flex-wrap: wrap;
	}
	.menu-area li{
		flex: 1 1 50%;
	}
	.menu-area .icon-area{
		flex: 1 1 25%;
	}
}

@media all and (max-width: 500px){
	.menu-area li{
		flex-basis: 100%;
	}
}